# This is Git's per-user configuration file.
[user]
	name = Dennis Witt
	email = dennis.witt@big-direkt.de
[includeIf "gitdir:~/workspaces/private/"]
	path = ~/workspaces/private/.gitconfig
[push]
	autoSetupRemote = true
[init]
	templateDir = /Users/dennis/.git-template
[credential]
	helper = osxkeychain
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
