# This is Git's per-user configuration file.
[user]
name = Dennis Witt
email = 94747795+wittdennis@users.noreply.github.com
	signingkey = B44D1C0718978D13
[includeIf "gitdir:~/workspaces/big-direkt/"]
path = ~/workspaces/big-direkt/.gitconfig
[includeIf "gitdir:~/workspaces/private/git.derwitt.site/"]
path = ~/workspaces/private/git.derwitt.site/.gitconig
[push]
autoSetupRemote = true
[init]
templateDir = /Users/dennis/.git-template
[credential]
helper = osxkeychain
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[safe]
	directory = *
[http]
	lowSpeedLimit = 1000
	lowSpeedTime = 60
	postBuffer = 524288000
[credential "https://dev.azure.com"]
	useHttpPath = true
